input[type=text] {
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.btn-edit {
  border: 1px solid #5767aa;
  box-shadow: 0px 0px 8px#5767aa;
  background-color:#5767aa;
  border-radius: 5px;
  padding: 1rem;
  }

  .btn-delete {
    border: 1px solid #cf381d;
    box-shadow: 0px 0px 8px#cf381d;
    background-color:#cf381d;
    border-radius: 5px;
    padding: 1rem;
    }